@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.group-hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}

.backfaceVisibility {
  backface-visibility: hidden;
}

.swiper {
  width: 300px;
  height: 200px;
}

@media (min-width: 768px) {
  .swiper {
    width: 400px;
    height: 266px;
  }
}

@media (min-width: 1024px) {
  .swiper {
    width: 574px;
    height: 382px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f5f5f5;
}

/* Add image styles */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
